

.footer {
    font-family: 'Montserrat', sans-serif;
  background-color: #1a1a1a;
  color: #e0e0e0;
  padding: 60px 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.footer-text {
  font-size: 1.4rem;
  line-height: 1.6;
  margin: 0 0 40px 0;
  font-weight: 300;
}

.footer-contacts {
  margin-bottom: 50px;
  font-size: 1.1rem;
}

.footer-contacts p {
  margin: 8px 0;
}

.footer-contacts a {
  color: #ff8c42; 
  text-decoration: none;
}

.footer-contacts a:hover {
  text-decoration: underline;
}

.footer-social {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.social-icon {
  display: block;
}

.icon {
  width: 60px;
  height: 100%;
  background-color: #ff8c42;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-weight: bold;
  font-size: 0.9rem;
  transition: transform 0.3s ease;
}


.icon:hover {
  transform: scale(1.1);
}


.footer::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  background: url('../images/logo.png') no-repeat center ;
  filter: invert(100%);
  background-size: contain;
  opacity: 0.15; /* полупрозрачный */
  pointer-events: none;
  z-index: 1;
}

/* Адаптивность */
@media (max-width: 768px) {
  .footer-text {
    font-size: 1.2rem;
  }
  
  .icon {
    width: 50px;
    height: 50px;
  }
  
  .footer::before {
    width: 200px;
    height: 200px;
  }
}