/* Слайдер */
.slider {
  width: 100%;
  height: 100svh;
  overflow: hidden;
  position: relative;
}

/* Мобильные устройства */
@media (max-width: 768px) {
  .slider {
    height: 60svh;      
    min-height: 280px;  
  }
}

.slides {
  display: flex;
  width: 100%;
  height: 100%;
}

.slide {
  flex: 0 0 100%;
  height: 100%;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.slider-button {
  position: absolute;
  top: 50%;              
  left: 50%;                
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  color: rgb(44, 44, 44);
  padding: 1.4rem 2.5rem;
  font-size: 1.25rem;
  text-decoration: none;
  border-radius: 4rem;
  font-weight: 600;
  transition: background-color 0.3s;
  z-index: 10;
  font-family: 'Montserrat', sans-serif;
  margin-top: 3rem;
}
.slider-button:hover {
  background-color: #f97316;
}